<?xml version="1.0" encoding="UTF-8"?>
<configuration>
       <system.webServer>
              <security>
                     <ipSecurity allowUnlisted="false" denyAction="NotFound">
                            <add allowed="true" ipAddress="127.0.0.1" subnetMask="255.0.0.0" />
                            <add allowed="true" ipAddress="20.81.101.134" />
                     </ipSecurity>
              </security>
       </system.webServer>
</configuration>